@using System.Security.AccessControl
@using Microsoft.EntityFrameworkCore.Metadata
@model SweetsShop.Models.ViewModels.EditOrderVM

<form method="post">
    <div class="border">
        <input hidden value="0" id ="DifferenceInSumId" asp-for="DifferenceInSum"/>
        <input hidden asp-for="@Model.OrderID"/>
        <br/>
        <div class="backgroundWhiteBorder">
            <div class="container row">
                <div class="col -8">
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-6">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Корзина
                            </div>
                            <div class="col-6 text-right">
                                <a asp-action="OrdersForAdmin" asp-controller="Admin" class="btn btn-outline-info btn-sm">Назад в заказы</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color: #821f3d">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-12 col-lg-7">
                                        Детали продукта
                                    </div>
                                    <div class="col-12 col-lg-2">
                                        Цена за 100g
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-1">
                                    </div>
                                </div>
                            </div>

                            <hr/>
                            @for(int i=0;i<Model.ProductsForUserOrder.Count();i++)
                            {
                                    var obj = Model.ProductsForUserOrder[i];
                                    <input hidden asp-for="@Model.ProductsForUserOrder[i].Product.Id"/>
                                    <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@WC.ImagePath@obj.Product.Image" class="rounded" width="100%"/>
                                    </div>
                                    <div class="col-6 col-lg-5">
                                        <h5>@obj.Product.Name</h5>
                                        <div style="font-size: 11px;">@obj.Product.ShortDescription</div>
                                    </div>
                                    <div class="col-2">
                                        <div class="row">
                                            <button type="button" onclick="Minus('count_@obj.Product.Id',@obj.Product.Price100g);" style="text-align: end; font-size: 25px; box-shadow: none;" class="col-4 btn">
                                                <i class="fa-solid fa-circle-minus"></i>
                                            </button>
                                            <input asp-for="@Model.ProductsForUserOrder[i].Count" class="col-4" id="count_@obj.Product.Id" style="background-color: rgba(0, 0, 0, 0); border: none; font-size: 25px; text-align: center;"/>
                                            <button type="button" onclick="Plus('count_@obj.Product.Id',@obj.Product.Price100g);" style="text-align: justify; font-size: 25px; box-shadow: none;" class="col-4 btn">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size: 11px;">
                                        <span style="font-size: 17px;"> @obj.Product.Price100g rub</span>/ 100g
                                    </div>
                                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                    </div>
                                </div>
                                <hr/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backgroundWhiteBorder">
            <div class="container row justify-content-center">
                <div class="col-12">
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-6">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Информация о заказщике
                            </div>
                            <div class="col-6 text-right">
                                <a asp-action="OrdersForAdmin" asp-controller="Admin" class="btn btn-outline-info btn-sm">Назад в заказы</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-8 p-1">
                                    <b><i>Адрес:</i></b>
                                    <div class="pt-1">
                                        <textarea style="resize: none; height: 124px;"  asp-for="Address" type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                                <div class="row justify-content-center">
                                    <div class="col-8 p-1">
                                        <b><i>Телефон:</i></b>
                                        <div class="pt-1">
                                            <input placeholder="Телефон *" asp-for="Phone" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            <div class="row justify-content-center">
                                <div class="col-8 p-1">
                                    <b><i>Комментарий:</i></b>
                                    <div class="pt-1">
                                        <textarea asp-for="Comment" style="resize: none; height: 124px;" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="card-footer">
                            <div class="row">
                                <div class="col-6 col-md-3 offset-md-9">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Изменить заказ</span>
                                    </button>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</form>

@section Scripts{
    @{ <partial name="_ValidationScriptsPartial" />}
    <script>
        var DifferenceInSum = document.getElementById("DifferenceInSumId");
        function Plus(count_id, price) {
            var Count = document.getElementById(count_id);
            if (parseInt(Count.value) < 99) {
                Count.value = String(parseInt(Count.value) + 1);
                DifferenceInSum.value = String(parseInt(DifferenceInSum.value) + parseInt(price));
            }
        }
        function Minus(count_id, price) {
            var Count = document.getElementById(count_id);
            if (parseInt(Count.value) > 0) Count.value = String(parseInt(Count.value) - 1);
            DifferenceInSum.value = String(parseInt(DifferenceInSum.value) - parseInt(price));
        }
    </script>
}


