@model List<SweetsShop.Models.ProductForUserOrder>

    <br />
<div class="backgroundWhiteBorder">
        <div class="container row">
            <div class="col -8">
                <div class="card mt-4">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                        </div>
                        <div class="col-6 text-right">
                            <a asp-action="Orders" asp-route-returnUrl="@ViewBag.returnUrl" asp-controller="Account" class="btn btn-outline-info btn-sm">Назад</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row" style="color:#821f3d">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-12 col-lg-5">
                                    Детали продукта
                                </div>
                                <div class="col-6 col-sm-4 col-lg-2">
                                    Количество
                                </div>
                                <div class="col-12 col-lg-2">
                                    Цена за 100g
                                </div>
                            </div>
                        </div>

                        <hr />
                        @foreach(var obj in Model){
                            <div class="row h-100">
                                <div class="col-4 col-md-2 text-center py-2">
                                    <img src="@WC.ImagePath@obj.Product.Image" class="rounded" width="100%" />
                                </div>
                                <div class="col-6 col-lg-5">
                                    <h5>@obj.Product.Name</h5>
                                    <div style="font-size:11px;">@obj.Product.ShortDescription</div>
                                </div>
                                <div class="col-2">
                                    <div class="row">
                                        <input value="@obj.Count" disabled class="col-4" style="background-color: rgba(0, 0, 0, 0); border: none; font-size: 25px; text-align: center;" type="text"/>
                                    </div>
                                </div>
                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                    <span style="font-size:17px;"> @obj.Product.Price100g rub</span>/ 100g
                                </div>
                                <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>



@section Scripts
{
    <script>
        
    </script>
}